* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #5f5f5f;
    background: #f8f8f8;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
    color: #5f5f5f;
}
input, button {
    outline: none;
}

input:focus, 
input:active, 
button:focus, 
button:active {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    vertical-align: middle;
}

p {
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    background: #373d40;
    flex: 0 0 auto;
}

header nav {
    overflow: hidden;
}

.logo {
    display: inline-block;
    max-width: 100px;
    width: 100%;
    float: left;
}

.form-search {
    display: inline-block;
    position: relative;
    max-width: 390px;
    width: 100%;
    float: right;
}

.form-search label {
    border: 0 none;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-search input {
    width: 100%;
    color: #fff;
    background: #495053;
    border: none;
    padding: 12px 40px 12px 20px;
}
.form-search button {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 39px;
    padding: 0;
    cursor: pointer;
    transition: .5s;
}
.form-search button:hover {
    background: #575f63;
}

.search-icon::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

main{
    overflow: hidden;
    flex: 1 0 auto;
}

main .column {
    float: left;
    margin: 50px 0;
}

.column.side {
    width: 25%;
}

.column.side.left {
    background: #f0f0f0;
}

.column.side ul li a {
    display: block;
    padding: 10px 15px;
    border-left: 3px solid transparent;
    transition: .5s;
}

.column.side ul li a:hover {
    background: #373d40;
    border-color: #36c5f4;
    color: white;
}

.column.content {
    width: 50%;
    padding: 0 30px;
}

.topic {
    display: inline-block;
    color: #f09e47;
    font-style: 12px;
    transition: .5s;
}

.topic:hover {
    color: #5f5f5f;
}

.time {
    font-size: 12px;
    color: #9d9d9d;
    font-style: italic;
}

.image-b {
    padding: 10px 0 30px;
}

.column.side.right {
    padding-left: 15px;
    border-left: 1px solid #dedede;
}

.column.side.right h3 {
    margin: 0;
    padding-bottom: 30px;
}

.column.side.right .item {
    padding-bottom: 30px;
}

.column.side.right .item .image {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

.column.side.right .item .image img {
    transition: .5s;
}

.column.side.right .item .image:hover img {
    transform: scale(1.1);
}

.column.side.right .item h4 {
    margin: 0;
    padding: 10px 0;
}

footer {
    background: #272b2e;
    color: #656b6f;
    font-size: 12px;
    padding: 15px 0;
    flex: 0 0 auto;
    text-align: center;
}